# Core Rasa Framework (Compatible with Python 3.8–3.10)
rasa==3.6.10
rasa-sdk==3.6.2

# Django backend and REST framework
Django==4.2
djangorestframework==3.14.0

# Machine Learning & Preprocessing
pandas==1.5.3
scikit-learn==1.1.3
joblib==1.2.0

# RESTful communication between frontend/backend
requests==2.31.0

# Translation and text processing
deep-translator==1.11.4

textblob==0.17.1

# NLP library
spacy==3.7.2

# Environment variables
python-dotenv==1.0.0

# Server for production
gunicorn

# SQLAlchemy pin to avoid deprecation in Rasa
SQLAlchemy<2.0
